.scrollbar-light {
  scrollbar-width: thin;
  scrollbar-color: rgb(41 37 36) rgb(168 162 158);
}
  
.scrollbar-light::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background-color: rgb(168 162 158);
}
  
.scrollbar-light::-webkit-scrollbar-thumb {
  border-radius: 0.1rem;
  background-color: rgb(41 37 36);
}
  
.scrollbar-dark {
  scrollbar-width: thin;
  scrollbar-color: rgb(168 162 158) rgb(41 37 36);
}
  
.scrollbar-dark::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background-color: rgb(41 37 36);
}
  
.scrollbar-dark::-webkit-scrollbar-thumb {
  border-radius: 0.1rem;
  background-color: rgb(168 162 158);
}
